@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquare/NanumSquareOTFB00.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareOTFB00.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquare/NanumSquareOTFEB00.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareOTFEB00.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquare/NanumSquareOTFR00.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareOTFR00.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquare/NanumSquareOTFL00.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareOTFL00.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Mono';
  src: url('/fonts/CascadiaMono/CascadiaMono-Regular.woff2') format('woff2'),
    url('/fonts/CascadiaMono/CascadiaMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
